.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dataSources/
.idea/dataSources.local.xml
.env
.debug_extra/


# venv / python cache
.venv/
__pycache__/
*.pyc

# runtime/debug artifacts
ChromeProfile9222/
debug_extra/

# inputs (локальные сохранённые html)
html/
html/*.html
!html/.gitkeep

# outputs
results/
results/*
!results/.gitkeep

# Excel outputs in root (на случай старых запусков)
out_*.xlsx
~$out_*.xlsx

